body {
    background: #Fd9821;
    
    background-image: linear-gradient(to right, rgba(0, 255, 42, 0), rgba(64, 0, 255, 0.902));
}

.navbar {
    background-color: rgb(128, 0, 17);
    color: white;
    opacity: 0.8;
    font-size: 20px;

}

.row {
    margin-top: 10px;
}
.page-container {
    margin-top: 60px;
    justify-content: center;
}

.card {
    margin: 25px 10px;
    width: 26rem;
    justify-content: center;
 

}

h4 {
    font-size: 2.0rem;
    text-align: center;
    
    
}

h5 {
    text-align: center;  
}

