body {
    background: #FFFFFF
}

.page-container{
    margin-top: 75px;
}

.button-group{
    padding: 5vw;
    text-align: center;
    
}

.button-group > button {
    font-size: 1em;
    margin: 10px;
    padding: 10px;
}

#counterText{
    color: black;
    font-family: consolas, arial, sans-seerif;
    font-size: 4em;
    text-align: center;
}

favoriteColorContainer {
    width: 200px;
    margin: 20px;
    
 }
 
 
 #favoriteColorBox {
    background-color: #800000;
    line-height: 100px;
    text-align: center;
    color: white;
 }
 
 .button-group2{
   
    padding: 1vw;
    text-align: center;
    
}
.button-group2 > button {
    font-size: 1em;
  
}