body {
    background: #ed1d37;
}

.page-container{
    margin-top: 75px;
}

.button-group{

  
    justify-content: center;
    justify-items: center;

}

.button-group > button {
    font-size: 1em;
   

 
}


#counterText{
    color: black;
    font-family: consolas, arial, sans-seerif;
    font-size: 4em;
    text-align: center;
}

#favoriteColorContainer {
    width: 200px;
    
    margin: 20px;
    
 }
 
 
 #favoriteColorBox {
    background-color: #800000;
    line-height: 100px;
    text-align: center;
    color: white;
 }
 
 .button-group2{
   

    
  
    

      

    text-align: center;
    justify-content: center;

}
.button-group2 > button {
 
    
  
    

}

 
.row>*{
    padding-left: 1px !important;
    padding-right: 1px !important;
}
